body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E05C31;
    color: #fff;
    h1{
        font-size: 45px;
    }
    .btn{
        cursor: pointer;
        background-color: #000;
        padding: 10px 15px;
        color: #fff;
        border: 0;
        border-radius: 10px;
    }
    .btn:active{
        transform: scale(0.98);
    }
    .btn-rule{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .rules{
        background-color: #222;
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        min-height: 100vh;
        padding: 20px;
        transform: translateX(-450px);
        transition: transform 1s ease-in-out;
    }
    .rules.show{
        transform: translateX(0);
    }
    canvas{
        background-color: #f0f0f0;
        border-radius: 5px;
        display: block;
        margin-bottom: 10px;
    }
    .showScore{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        display: none;
        h2{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}